{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>About Us</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="{%static 'css/plugins.css'%}" />
        <link rel="stylesheet" type="text/css" media="screen" href="{%static 'css/main.css'%}" />
        <link rel="stylesheet" href="{% static 'css/about.css'%} ">
        <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <div class="site-wrapper" id="top">
            <div class="site-header header-3  d-none d-lg-block">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <ul class="header-top-list">
                               
                                
                            </ul>
                        </div>
    
                        {% if request.session.customer %}
    
                        <div class="col-lg-8 flex-lg-right">
                            <ul class="header-top-list">
                               
                                <li class="dropdown-trigger language-dropdown"><a href="/orders"><i
                                            class="icons-left fas fa-heart"></i>
                                        Orders </a>
                                </li>
                            
                                <li><a href="cart"><i class="icons-left fas fa-share"></i> Checkout </a>
                                </li>
                            </ul>
                        </div>
                    {% endif %}
    
                </div>
                <div class="header-middle pt--10 pb--10">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-3">
                                <a href="#" class="site-brand">
                                    <img src="{%static 'img/flogo.png'%}" id="picsize" alt="">
                                </a>
                            </div>
    
    
    
                            <form  method="get" action="/search" class="col-lg-5">
                                <div class="header-search-block">
                                    <input type="text" placeholder="Search entire store here" name="pruth" id="pruth">
                                    <button type="submit">Search</button>
                                </div>
                            </form>
    
    
    
                            <div class="col-lg-4">
                                <div class="main-navigation flex-lg-right">
                                    <div class="cart-widget">
    
    
                                        {% if request.session.customer %}
                                        <div class="login-block">
                                            <a href="/logout" class="font-weight-bold">Logout</a>
    
                                        </div>
    
                                        {% else %}
                                        <div class="login-block">
                                            <a href="/login" class="font-weight-bold">Login</a> <br>
                                            <span>or</span><a href="/signup">Register</a>
                                        </div>
    
    
                                        {% endif %}
    
    
    
    
                                        <!-- Cart -->
    
    
                                        <div class="cart-block">
                                            <div class="cart-total">
                                                <span class="text-number">
                                                    {{request.session.cart.keys|length}}
                                                </span>
                                                <a href="/cart" class="text-item">
                                                    Cart
                                                </span> </a>
                                             
                                            </div>
                                            
                                        </div>
                                    </div>
            
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-bottom">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-3">
                                <nav class="category-nav   ">
                                    <div>
                                        <a href="javascript:void(0)" class="category-trigger"><i
                                                class="fa fa-bars"></i>Books
                                            categories</a>
                                        <ul class="category-menu">
                                            <li class="cat-item">
                                                <a href="/">All Books</a>
                                            </li>
    
                                            {% for category in categories %}
                                            <li class="cat-item"><a href="/?category={{category.id}}">{{category.name}}</a>
                                                 
                                            {% endfor %}
    
    
                                        
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                            <div class="col-lg-3">
                                <div class="header-phone ">
                                    <div class="icon">
                                        <!-- <i class="fas fa-headphones-alt"></i> -->
                                    </div>
                                    <!-- <div class="text">
                                        <p>Free Support 24/7</p>
                                        <p class="font-weight-bold number">+01-202-555-0181</p>
                                    </div> -->
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="main-navigation flex-lg-right">
                                    <ul class="main-menu menu-right li-last-0">
                                        
                                        <li class="menu-item">
                                            <a href="/home">Home </a>
                                        </li>
                                        <!-- Shop -->
                                        <li class="menu-item">
                                            <a href="/">All Books </a>
                                            
                                        </li>
                                        <!-- Pages -->
                                        <li class="menu-item">
                                            <a href="/about">About us </a>
                                           
                                        </li> 
                                        <!-- Blog -->
                                        <li class="menu-item">
                                            <a href="/feedback">Review </a>
                                               
                                        </li>
                                        <li class="menu-item">
                                            <a href="/contact">Contact</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

             <!--Off Canvas Navigation End-->
         
         <div class="sticky-init fixed-header common-sticky">
             <div class="container d-none d-lg-block">
                 <div class="row align-items-center">
                     <div class="col-lg-4">
                         <!-- <a href="index.html" class="site-brand">
                             <img src="{%static 'image/logo.png'%}" alt="">
                         </a> -->
                     </div>
                     <div class="col-lg-8">
                         <div class="main-navigation flex-lg-right">
                             <ul class="main-menu menu-right ">
                                 <li class="menu-item">
                                     <a href="javascript:void(0)">Home </a> 
                                            <!-- <i class="fas fa-chevron-down dropdown-arrow"></i> -->
                                     <!-- <ul class="sub-menu">
                                         <li> <a href="index.html">Home One</a></li>
                                         <li> <a href="index-2.html">Home Two</a></li>
                                         <li> <a href="index-3.html">Home Three</a></li>
                                         <li> <a href="index-4.html">Home Four</a></li>
                                         <li> <a href="index-5.html">Home Five</a></li>
                                     </ul> -->
                                 </li>
                                 <!-- Shop -->
                                 <li class="menu-item">
                                     <a href="javascript:void(0)">All books </a>
                                     <!-- <i class="fas fa-chevron-down dropdown-arrow"></i> -->
                                     <!-- <ul class="sub-menu four-column">
                                         <li class="cus-col-25">
                                             <h3 class="menu-title"><a href="javascript:void(0)">Shop Grid </a></h3>
                                             <ul class="mega-single-block">
                                                 <li><a href="shop-grid.html">Fullwidth</a></li>
                                                 <li><a href="shop-grid-left-sidebar.html">left Sidebar</a></li>
                                                 <li><a href="shop-grid-right-sidebar.html">Right Sidebar</a></li>
                                             </ul>
                                         </li>
                                         <li class="cus-col-25">
                                             <h3 class="menu-title"> <a href="javascript:void(0)">Shop List</a></h3>
                                             <ul class="mega-single-block">
                                                 <li><a href="shop-list.html">Fullwidth</a></li>
                                                 <li><a href="shop-list-left-sidebar.html">left Sidebar</a></li>
                                                 <li><a href="shop-list-right-sidebar.html">Right Sidebar</a></li>
                                             </ul>
                                         </li>
                                         <li class="cus-col-25">
                                             <h3 class="menu-title"> <a href="javascript:void(0)">Product Details 1</a>
                                             </h3>
                                             <ul class="mega-single-block">
                                                 <li><a href="product-details.html">Product Details Page</a></li>
                                                 <li><a href="product-details-affiliate.html">Product Details
                                                         Affiliate</a></li>
                                                 <li><a href="product-details-group.html">Product Details Group</a></li>
                                                 <li><a href="product-details-variable.html">Product Details
                                                         Variables</a></li>
                                             </ul>
                                         </li>
                                         <li class="cus-col-25">
                                             <h3 class="menu-title"><a href="javascript:void(0)">Product Details 2</a>
                                             </h3>
                                             <ul class="mega-single-block">
                                                 <li><a href="product-details-left-thumbnail.html">left Thumbnail</a>
                                                 </li>
                                                 <li><a href="product-details-right-thumbnail.html">Right Thumbnail</a>
                                                 </li>
                                                 <li><a href="product-details-left-gallery.html">Left Gallery</a></li>
                                                 <li><a href="product-details-right-gallery.html">Right Gallery</a></li>
                                             </ul>
                                         </li>
                                     </ul> -->
                                 </li>
                                 <!-- Pages -->
                                 <li class="menu-item ">
                                     <a href="javascript:void(0)">Profile </a>
                                         <!-- <i class="fas fa-chevron-down dropdown-arrow"></i> -->
                                     <!-- <ul class="sub-menu">
                                         <li><a href="cart.html">Cart</a></li>
                                         <li><a href="checkout.html">Checkout</a></li>
                                         <li><a href="compare.html">Compare</a></li>
                                         <li><a href="wishlist.html">Wishlist</a></li>
                                         <li><a href="login-register.html">Login Register</a></li>
                                         <li><a href="my-account.html">My Account</a></li>
                                         <li><a href="order-complete.html">Order Complete</a></li>
                                         <li><a href="faq.html">Faq</a></li>
                                         <li><a href="contact-2.html">contact 02</a></li>
                                     </ul> -->
                                 </li>
                                 <!-- Blog -->
                                 <li class="menu-item ">
                                     <a href="javascript:void(0)">About us </i>
                                         <!-- <i  class="fas fa-chevron-down dropdown-arrow"> -->
                                    <!-- ? <ul class="sub-menu three-column"> -->
                                         <!-- <li class="cus-col-33">
                                             <h3 class="menu-title"><a href="javascript:void(0)">Blog Grid</a></h3>
                                             <ul class="mega-single-block">
                                                 <li><a href="blog.html">Full Widh (Default)</a></li>
                                                 <li><a href="blog-left-sidebar.html">left Sidebar</a></li>
                                                 <li><a href="blog-right-sidebar.html">Right Sidebar</a></li>
                                             </ul>
                                         </li> -->
                                         <!-- <li class="cus-col-33"> -->
                                             <!-- <h3 class="menu-title"><a href="javascript:void(0)">Blog List </a></h3> -->
                                             <!-- <ul class="mega-single-block"> -->
                                                 <!-- <li><a href="blog-list.html">Full Widh (Default)</a></li> -->
                                                 <!-- <li><a href="blog-list-left-sidebar.html">left Sidebar</a></li>
                                                 <li><a href="blog-list-right-sidebar.html">Right Sidebar</a></li>
                                             </ul>
                                         </li> -->
                                         <!-- <li class="cus-col-33">
                                             <h3 class="menu-title"><a href="javascript:void(0)">Blog Details</a></h3>
                                             <ul class="mega-single-block">
                                                 <li><a href="blog-details.html">Image Format (Default)</a></li>
                                                 <li><a href="blog-details-gallery.html">Gallery Format</a></li>
                                                 <li><a href="blog-details-audio.html">Audio Format</a></li>
                                                 <li><a href="blog-details-video.html">Video Format</a></li>
                                                 <li><a href="blog-details-left-sidebar.html">left Sidebar</a></li>
                                             </ul>
                                         </li> -->
                                     <!-- </ul> -->
                                 <!-- </li> -->
                                 <li class="menu-item">
                                     <a href="contact.html">Contact</a>
                                 </li>
                             </ul>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
    
    
    
    
    
         {% block content %}
         <section class="section-margin">
        <!-- <div class="perfect"> -->

            <div class = "content">
                <h2>About Us</h2>
                <span><!-- line here --></span>

                <p>      old book stall is an online bookstore with a mission to financially support local people and  independent bookstores.
                 We believe that bookstores are essential to a healthy culture. They’re where authors can connect with readers,
                     where we discover new writers, where children get hooked on the thrill of reading that can last a lifetime.
                      They’re also anchors for our downtowns and communities.

                As more and more people buy their oldbooks online, we wanted to create an easy, convenient way for you to get your books and support 
                old books stall at the same time.
                If you want to find a specific local bookstore to support, find them on our map and they’ll receive the full profit off your order. 
  
                We also support anyone who advocates for books through our affiliate program, which pays a 10% commission on every sale, and gives a matching 10% to 
                independent bookstores. If you are an author, a website or magazine, have a bookclub, an organization that wants to recommend books, 
                or even just a book-lover with an Instagram feed, you can sign up to be an affiliate, start your own shop, and be rewarded for your advocacy 
                of books. Bookshop wants to give back to everyone who promotes books, authors, and independent bookstores!
                By design, we give away over 75% of our profit margin to stores, publications, authors and others who make up the thriving, 
                inspirational culture around books!
                <!-- <p>By design, we give away over 75% of our profit margin to stores, publications, authors and others who make up the thriving, inspirational culture around books!</p> -->
                Bookshop is a benefit corporation - a corporation dedicated to the public good.</P>    
                <ul class = "links">
                    <li><a href = "/home">HOME</a></li>

                    <div class = "vertical-line"></div>

                    <li><a href = "/">ALL BOOKS</a></li>

                    <div class = "vertical-line"></div>
                    
                    <li><a href = "/contact">CONTACT</a></li>
                </ul>

                <ul class = "icons">
                    <li><a href = "https://www.twitter.com/">
                        <i class = "fa fa-twitter"></i></a>
                    </li>
                    <li><a href = "https://www.facebook.com/">
                        <i class = "fa fa-facebook"></i></a>
                    </li>
                    <li><a href = "https://www.instagram.com/">
                        <i class = "fa fa-instagram"></i></a>
                    </li>
                    
                </ul>
            </div>
        </div>
        </section>
    
         {% endblock %}
    
    
    
    
    
    
         <footer class="site-footer">
            
             <div class="footer-bottom">
                 <div class="container">
                     <div class="row justify-content-between  section-padding">
                         <div class=" col-xl-3 col-lg-4 col-sm-6">
                             <div class="single-footer pb--40">
                                 <div class="brand-footer footer-title">
                                     <div class="footer-title">
                                         <h3>About   </h3>
                                     </div>
                                     <!-- <img src="image/logo--footer.png" alt=""> -->
                                 </div>
                                 <div class="footer-contact">
                                     <p><span class="label">Address:</span>
                                         <span class="text">103 Silverstone Arcade,Surat, Gujarat, india-395004</span></p>
                                     <p><span class="label">Phone:</span><span class="text">  +91 1010101010</span></p>
                                     <p><span class="label">Email:</span><span class="text">  suport@oldbookstall.com</span></p>
                                 </div>
                             </div>
                         </div>
     
                         <div class=" col-xl-3 col-lg-2 col-sm-6">
                             <div class="single-footer pb--40">
                                 <div class="footer-title">
                                     <h3>Information</h3>
                                 </div>
                                 <ul class="footer-list normal-list">
                                    
                                     <li><a href="/">ALL Books</a></li>
                                     <li><a href="/feedback">Review</a></li>
                                  
                                 </ul>
                             </div>
                         </div>
     
                         <div class=" col-xl-3 col-lg-2 col-sm-6">
                             <div class="single-footer pb--40">
                                 <div class="footer-title">
                                     <h3>Extras</h3>
                                 </div>
                                 <ul class="footer-list normal-list">
                   
                                     <li><a href="/about">About Us</a></li>
                             
                                     <li><a href="contact">Contact us</a></li>
                                     
                                 </ul>
                             </div>
                         </div>
     
                         <div class=" col-xl-3 col-lg-4 col-sm-6">
                             <!-- <div class="footer-title">
                                 <h3>Newsletter Subscribe</h3>
                             </div>
                             <div class="newsletter-form mb--30">
                                 <form action="https://demo.hasthemes.com/pustok-preview/pustok/php/mail.php">
                                     <input type="email" class="form-control" placeholder="Enter Your Email Address Here...">
                                     <button class="btn btn--primary w-100">Subscribe</button>
                                 </form>
                             </div> -->
                             <div class="social-block">
                                 <h3 class="title">STAY CONNECTED</h3>
                                 <ul class="social-list list-inline">
                                     <li class="single-social facebook"><a href="https://www.facebook.com/"><i class="ion ion-social-facebook"></i></a>
                                     </li>
                                     <li class="single-social twitter"><a href="https://twitter.com/"><i class="ion ion-social-twitter"></i></a></li>
                                     <li class="single-social google"><a href="https://accounts.google.com/ServiceLogin/webreauth?passive=1209600&continue=https%3A%2F%2Faccounts.google.com%2Fb%2F1%2FAddMailService&followup=https%3A%2F%2Faccounts.google.com%2Fb%2F1%2FAddMailService&authuser=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin"><i
                                                 class="ion ion-social-googleplus-outline"></i></a></li>
                                     <!-- <li class="single-social youtube"><a href="#"><i class="ion ion-social-youtube"></i></a></li> -->
                                 </ul>
                             </div>
                         </div>
                         
     
                     </div>    
                     <p class="copyright-text">Copyright © 2021 <a href="#" class="author">OLD BOOKS STALL</a>. All Right Reserved.
                        <br>
                        Design By Pruth's</p>
                 </div>
     
                
             </div>
         </footer>
         <!-- Use Minified Plugins Version For Fast Page Load -->
         <script src="{%static 'js/plugins.js'%}"></script>
         <script src="{%static 'js/ajax-mail.js'%}"></script>
         <script src="{%static 'js/custom.js'%}"></script>
         <!-- <script type="text/javascript" src="{%static 'js/cart.js'%}"></script> -->
     </body>


</html>