{% load static %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Forgot Password</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/forgot.css' %}" >
   <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>
  <body>
     <div class="bg-img" style="background-image: url({% static 'img2/pro.jpg' %} )">
                <div class="content">
                    <header style="">Forgot Password</header>
                        <form action="#">
                            <div class="field">
                                <span class="fa fa-user"></span>
                                <input type="text" required placeholder="Email">
                            </div>
                            <br>
                            <div class="field">
                                <input type="submit" value="FORGOT PASSWORD">
                            </div>
                        </form>
                    <br>
                    <div class="signin">
                        <a href="/login">Sign In</a>
                    </div>
                </div>
            </div>
      </div>
  </body>
</html>
